= form_for @position do |f|
  .form-group
    %p 나는
  .form-group
    %p
      %input.typeahead{ type: 'text', placeholder: '이슈', data: { 'provider': 'typeahead', 'typeahead-target': '.typeahead-value', 'typeahead-url': issues_path, 'typeahead-display-field': 'title' } }
      에 관하여
      %input.typeahead-value{ type: 'text'}
  .form-group
    = f.text_area :body, class: 'form-control'
    %p 이란 입장에
  .form-group
    %p
      %select(class='form-control' style='width: 100px')
        %option{:value => "찬성", selected: :selected } 찬성
        %option{:value => "반대"} 반대
      합니다

  %hr

  .form-group
    %p 왜냐하면
    = text_area_tag :opinion, '', class: 'form-control'

  = f.submit '입장 저장하기', class: 'btn btn-lg btn-primary'
