.bs-component
  .container
    - if user_signed_in?
      %p
        = link_to new_position_path do
          %i.fa.fa-edit
          입장 만들기

    - {by_leaders: @positions_touched_by_leaders, all: @positions}.each do |key, positions|
      - if positions.any?
        .panel.panel-default
          .panel-heading
            %h4= { by_leaders: '지지하는 사람들의 최근 활동', all: '최근 입장' }[key]
            %ul.list-group
              - positions.each do |position|
                - if key == :by_leaders
                  = render position, activities_concerned: position.activities.concerned_by(current_user)
                - else
                  = render position

