%section#section-show-position-header
  .container
    %section#section-title
      .well
        %h2= @issue.title
    %section#section-outline
      .well
        %h2 outline
        = simple_format @issue.description
    %section#section-news
      .well
        %h2 뉴스 컬럼 - 세미레딧 - WIP
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam reiciendis distinctio quia illo aperiam rem sed minima, ex voluptate, quaerat, dolore. Rerum unde aut, expedita alias harum laboriosam molestias.
    %section#section-positions
      .well
        %h2 토론, 투표 - 카탄 - positions
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam reiciendis distinctio quia illo aperiam rem sed minima, ex voluptate, quaerat, dolore. Rerum unde aut, expedita alias harum laboriosam molestias.
    %section#section-canoes
      .well
        %h2 조직 - 카누 - canoes
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam reiciendis distinctio quia illo aperiam rem sed minima, ex voluptate, quaerat, dolore. Rerum unde aut, expedita alias harum laboriosam molestias.


