%nav.navbar.navbar-default.navbar-fixed-bottom.hidden-xs
  .container
    .navbar-header
    %ul.nav.navbar-nav.pull-right
      %li
        %a{:href => "https://www.facebook.com/parti.xyz/", style: 'color: crimson'}
          %i.fa.fa-facebook
      %li
        %a{:href => "https://medium.com/parti-xyz-developers", style: 'color: crimson'}
          %i.fa.fa-medium
      %li
        %a{:href => "https://github.com/parti-xyz", style: 'color: crimson'}
          %i.fa.fa-github
